.background {
    background-color: #f9f9f9;
}

.container {
    width: 100%;
    max-width: 1112px;
    margin: 0px auto;
    padding: 32px 16px;
    overflow: hidden;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.item {
    list-style: none;
}

.filter {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 16px;
    background-color: #fff;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 30px 0;
}