.categoryList {
    display: flex;
    column-gap: 8px;
}

.categoryItem {
    background-color: #eee;
    color: #555;
    list-style: none;
    border-radius: 16px;
    padding: 4px 12px;
    cursor: pointer;
}

.categoryItem.categoryItemActive {
    background-color: #4f3af4;
    color: #fff;
}