.container {
    display: flex;
    flex: 1;
    flex-direction: column;
    min-height: 0;
    justify-content: flex-start;
    align-items: center;
    background-color: #f9f9f9;
    padding: 36px 0;
}

.message {
    font-size: 1.8rem;
    font-weight: 700;
    color: #111827;
    text-align: center;
}

.backToHomeLink {
    text-align: center;
    color: #4f3af4;
    text-decoration: none;
    font-weight: 500;
    margin-top: 8px;
    width: 100%;
}

.backToHomeLink:hover {
    text-decoration: underline;
}
